.navbar-brand{
    background-image: url(/Assets/img/ca5ba7d121989a03a9e22518a3ccaab1.png);
}

body{
    background-image: url(/ASSETS/IMG/digimon-wallpaper-manga.jpg);
}

.container{
    margin-top:10%;

}
 th,td{
    text-align: center; 
    padding: 10px;
    text-align: center;
    vertical-align: middle; 

 }

#contenido{
    background-color: rgb(129, 203, 25);
}
#contenido2{
    background-color: rgb(129, 203, 25);
}
.modal-body{
    margin: auto;
}